
dataset/videos/ongov.mp4
dataset/videos/*.avi
output/videos/mask_detector_dlibBlue_model_test_video.avi
output/videos/mask_detector_dlibBlack_model_test_video.avi
output/videos/mask_detector_default_model_test_video.avi
output/videos/mask_detector_cascade_model_test_video.avi
